﻿@{
    Layout = null;
    ViewBag.Title = "Login";
}

@model VetCareTCC.ViewlModels.LoginViewModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>@ViewBag.Title - VetCare</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-neutral-900">
    <main>
        <section class="container h-screen m-auto py-8 px-4 gap-8 flex justify-center items-center flex-col lg:flex-row">

            <div class="w-full max-w-md px-4 flex flex-col justify-center items-center text-yellow-400 gap-6">
                <h1 class="h-auto text-4xl font-semibold tracking-tighter overflow-y-hidden">Faça seu login na VetCare</h1>
                <img src="" alt="">
            </div>

            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "w-full max-w-lg mt-10 mb-24 py-10 px-4 bg-neutral-700 text-gray-200 rounded-xl" }))
            {
                <fieldset class="w-auto max-w-md mx-auto flex flex-col justify-center items-center">

                    <div class="w-full flex flex-col justify-center items-center gap-2">
                        <legend class="pb-4 uppercase">Informe seus dados para entrar</legend>

                        @Html.AntiForgeryToken()

                        <label for="customer-email" class="w-auto max-w-xs pt-2 relative text-sm text-neutral-900">
                            @Html.TextBoxFor(m => m.Email, new { @id = "customer-email", @class = "w-60 md:w-72 h-10 pl-8 bg-zinc-300 rounded-lg border-none outline-none placeholder:text-neutral-900", placeholder = "Email" })
                            <span class="absolute top-0 left-0 translate-y-4 translate-x-1 text-neutral-900">
                                <i class="material-icons">alternate_email</i>
                            </span>
                            <span class="block py-1 text-red-500">
                                @Html.ValidationMessageFor(m => m.Email)
                            </span>
                        </label>

                        <label for="customer-password" class="w-auto max-w-xs pt-2 relative text-sm text-neutral-900">
                            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @id = "customer-password", @type = "password", @class = "w-60 md:w-72 h-10 pl-8 bg-zinc-300 rounded-lg border-none outline-none placeholder:text-neutral-900", placeholder = "Senha" } })
                            <span class="absolute top-0 left-0 translate-y-4 translate-x-1 text-neutral-900">
                                <i class="material-icons">lock</i>
                            </span>
                            <span class="block py-1 text-red-500">
                                @Html.ValidationMessageFor(m => m.Password)
                            </span>
                        </label>

                    </div>

                    <div class="w-full h-auto pt-10 flex flex-col gap-4 justify-center items-center">

                        <button type="submit" class="w-60 md:w-72 h-12 py-3 px-6 bg-yellow-400 text-neutral-900 font-bold rounded-lg sm:w-32">
                            Entrar
                        </button>

                        <button type="button" class="w-60 md:w-72 h-12 py-3 px-6 bg-gray-200 text-neutral-900 font-bold rounded-lg sm:w-32">
                            Voltar
                        </button>

                        <span class="py-6 text-center text-yellow-400 font-semibold text-sm">
                            @Html.ActionLink("Não possui conta? Cadastrar-se", "CadCustomer", "Customer")
                        </span>
                    </div>

                    @ViewBag.user
                </fieldset>

            }
        </section>
    </main>
</body>
</html>


